<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.paperplanes.knowquiz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.paperplanes.knowquiz.activity.MainMenuActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.paperplanes.knowquiz.activity.GameOverActivity"
            android:noHistory="true"
            android:parentActivityName="com.paperplanes.knowquiz.activity.MainMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.paperplanes.knowquiz.activity.MainMenuActivity"/>
        </activity>
        <activity
            android:name="com.paperplanes.knowquiz.activity.QuizActivity"
            android:noHistory="true"
            android:parentActivityName="com.paperplanes.knowquiz.activity.MainMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.paperplanes.knowquiz.activity.MainMenuActivity"/>
        </activity>
        <activity
            android:name="com.paperplanes.knowquiz.activity.SettingsActivity"
            android:parentActivityName="com.paperplanes.knowquiz.activity.MainMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.paperplanes.knowquiz.activity.MainMenuActivity"/>
        </activity>
        <activity
            android:name="com.paperplanes.knowquiz.activity.AboutActivity"
            android:parentActivityName="com.paperplanes.knowquiz.activity.MainMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.paperplanes.knowquiz.activity.MainMenuActivity"/>
        </activity>
        <activity
            android:name="com.paperplanes.knowquiz.activity.ScoreActivity"
            android:noHistory="true"
            android:parentActivityName="com.paperplanes.knowquiz.activity.MainMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.paperplanes.knowquiz.activity.MainMenuActivity"/>
        </activity>
        <activity android:name="com.paperplanes.knowquiz.activity.CategoryActivity">
        </activity>
    </application>

</manifest>